.carousel-container {
  padding: 12px 12px 24px !important;
  background-color: #F5F4F9;
}

.carousel-content-football-footer {
  background-color: #5E3DB3 !important;
}

.carousel-content-basketball-footer {
  background-color: #090C35 !important;
}

.carousel-dots-circle {
  bottom: 18px !important;
}

.carousel-dots-circle > li button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background: #D8D8D8 !important;
}

.carousel-dots-circle > li.slick-active button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background: #5C3CAF !important;
}

.carousel-dots-circle-active > li.slick-active button {
  background: #FFFFFF !important;
}